<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src = "https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src = "app.js" defer></script>
	<link rel="stylesheet" href="style.css">
	<title>Document</title>
</head>
<body>
	<div id="app">
		<div id="container">
			<div id="left">
				<h1>StudyTimer</h1>
				<label for="q">How many questions are there?</label>
				<input type="text" id="q" v-model="nq" placeholder="No. of questions">
				<label for="time">How much time do you want to spend per question?</label>
				<input type="text" id="time" v-model="duration" placeholder="Time in minutes">
				<button @click="setTime">Set Timer</button>
				<button @click="startTimer">Start</button>
				<button @click="reset">Reset</button>
			</div>
			<div id="right">
				<div id="right-body">
					<div id="status">	
						<div class="status-child">
							<p>Current question:</p>
							<div id="current-question">
								<p :class="{idle: !started, big: true}" id="current" v-if="started">{{current.next}}/{{nq}}</p>
								<p :class="{idle: !started, big: true}" id="current" v-else>-/-</p>
							</div>
						</div>
						<div class="status-child">
							<p>Time left:</p>
							<div>
								<p :class="{idle: !started, big: true}" v-if="started||countdown">{{min}}:{{sec}}</p>
								<p :class="{idle: !started, big: true}" v-else="">00:00</p>
							</div>
						</div>
					</div>
					<div id="master-bar" v-if="started" :style="{animationDuration: (duration * nq * 60_000) + 'ms', animationIterationCount: 1}"></div>
					<div id="box-container">
						<div class="box" v-for="question in questions">
							<div :class="{progress: true, active: question.active, comp: question.complete}" :style="{transitionDuration: duration * 60_000 + 'ms'}"></div>
							<p :class="{compcolor: question.complete}">{{question.next}}</p>
						</div>
					</div>	
					<div id="results-pane" v-if="results">
						<p>Completed: {{completed}}</p>
						<p>Missed: {{nq - completed}}</p>
						<button @click="reset">Reset</button>
					</div>
					<button v-else-if="started" @click="markComplete">Complete</button>
					<p v-if="!countdown && !started">1. Enter no. of questions (integer) and time (minutes) reqd. (integer or decimal) for each question.<br>2. Click on "Set Timer"<br>3. Click on "Start".<br>4. Mark questions with the "Complete" button.<br>5. Reset with the "Reset" button. Reset once after timer runs out or if you want to start over again.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>