@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", monospace;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    height: 40px;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    background: blue;
    color: white;
    font-weight: 600;
    line-height: 0;
}

input {
    padding: 5px;
}

.idle {
    color: #666;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 250px 1fr;
}

#left {
    background: #eee;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

#right {
    background: white;
}

#right-body {
    display: flex;
    flex-direction: column;
}

#status {
    padding: 10px 20px;
    background: orange;
}

#current-question {
    display: flex;
    align-items: center;
    gap: 20px;
}

#master-bar {
    height: 5px;
    background: orangered;
    animation-name: progress;
    animation-timing-function: linear;
}

.big {
    font-weight: 600;
    font-size: 4em;
    line-height: 1em;
    color: #fff;
}

#status {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px 0;
}

.status-child {
    display: flex;
    flex-direction: column;
}

.box {
    color: #fff;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    background: #333;
    font-size: 1.4em;
    font-weight: 600;
    position: relative;
}
.box p {
    position: absolute;
}

.progress {
    left: 0;
    height: 100%;
    width: 0%;
    position: absolute;
    transition: width linear;
}

.active {
    width: 100%;
    background: orange;
}

.comp {
    background: orangered;
    transition: none;
}

.box .compcolor {
    color: #000;
}

#results-pane {
    margin-top: 50px;
    display: grid;
    place-items: center;
    font-size: 3em;
}

#help {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#help table {
    width: 50%;
}

#tag {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@keyframes progress {
    from {width: 1%;}
    to {width: 100%;}
}